@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
}

/* CABEÇALHO */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 144px;
}
.filtersContainer {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	align-items: center;
}

.estiloGeralBotoes {
	border: none;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	font-size: 0.9rem;
	height: 37px;
}

.estiloGeralBotoes--mostrarTodos {
	color: white;
	background-color: #12b886;
}

.estiloGeralBotoes--filtrarHortifruti,
.estiloGeralBotoes--filtrarPanificadora,
.estiloGeralBotoes--filtrarLaticínio {
	background-color: #12b8860d;
	color: #12b886;
}

.containerBuscaPorNome {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.campoBuscaPorNome {
	border-radius: 5px;
	border: solid transparent;
	padding: 0 10px;
	background: #f1f3f5;
	font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
	background-color: #12b886;
	color: white;
	border-radius: 5px;
}
.estiloGeralBotoes--botaoBuscaPorNome img {
	height: 100%;
}

/* PREÇO TOTAL */
main {
	margin: 0 144px;
}
.containerPrecoTotal {
	text-align: center;
	background: #ffffff;
	border: 1px solid #ffffff;
	box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	margin-bottom: 54px;
}
.containerPrecoTotal p {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}
.containerPrecoTotal p.bgBlack {
	background: #212529;
	border-radius: 4px;
	color: white;
	padding: 4px 10px;
}

/* CONTEÚDO */

.containerListaProdutos {
	margin: 0 auto;
	display: flex;
}
.containerListaProdutos ul {
	width: 100%;
	list-style: none;
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
}
.containerListaProdutos ul li {
	color: black;
	font-weight: bold;
	border-radius: 5px;
	transition: ease-in-out 0.1s;
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 274px;
}

.containerListaProdutos ul li img {
	height: 175px;
	width: 274px;
	align-self: center;
}

.containerListaProdutos ul li h3 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
}

.containerListaProdutos ul li span.sectionProduct {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #868e96;
}
.containerListaProdutos ul li p.priceProduct {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #212529;
}
