@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
	--main-green-color: #12b886;
	--main-grey-color: #12b8860d;
	--main-white-color: #ffffff;
	--light-grey-color: #f1f3f5;
	--second-grey-color: #868e96;
	--third-grey-color: #f8f9fa;
	--dark-grey-color: #212529;
	--black-color: #000000;
	--scroll-bar-color: #d1d1d2;
}

body {
	max-width: 1460px;
	margin: 0 auto;
}

header,
main,
footer,
div,
button,
input,
img,
p,
h1,
h2,
h3,
ul,
ol,
li,
span {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

/* CABEÇALHO */
header {
	display: flex;
	flex-direction: column;
}
.shop__title {
	text-align: center;
	padding: 14px 0px;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	font-weight: 600;
	color: var(--dark-grey-color);
	height: 80px;
}
.menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	/* margin: 0 13px; */
	/* gap: 13px; */
}

.menu__section {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	max-width: 100%;
	gap: 13px;
	padding: 8px 0;
	margin: 0 13px;
}

::-webkit-scrollbar {
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-color);
	border-radius: 10px;
}

.button {
	padding: 14px 26px;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 500;
	background: var(--main-grey-color);
	border: 1.5px solid var(--main-grey-color);
	border-radius: 8px;
}

.button--standard {
	color: var(--main-green-color);
}

.button--selected {
	color: var(--main-white-color);
	background-color: var(--main-green-color);
}

.menu__search {
	display: flex;
	gap: 5px;
	margin-top: 10px;
	width: 100%;
	justify-content: center;
}

.search__input {
	width: 220px;
	height: 52px;
	border-radius: 8px;
	border: solid transparent;
	padding: 0 10px;
	background: var(--light-grey-color);
	font-weight: 400;
}

.search__button {
	background-color: var(--main-green-color);
	color: var(--main-white-color);
	width: 59px;
	height: 52px;
	display: flex;
	justify-content: center;
	border-radius: 8px;
}

.search__img {
	height: 16px;
	color: var(--main-white-color);
}

/* CONTEÚDO */
.container {
	margin: 0 13px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.product-list {
	overflow-x: scroll;
	max-height: 400px;
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: center;
	padding-bottom: 8px;
	padding-top: 8px;
}

.product-list::-webkit-scrollbar-thumb {
	width: 164px;
}
.product-list__card {
	color: var(--black-color);
	font-weight: bold;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	min-width: 274px;
}

.card__img {
	margin-bottom: 16px;
	height: 175px;
	min-width: 274px;
	align-self: center;
}

.card__name {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
}

.card__section {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: var(--second-grey-color);
	margin-bottom: 10px;
}

.card__nutrientList {
	list-style: decimal;
	list-style-position: inside;
	height: 54px;
}

.card__nutrient {
	color: var(--second-grey-color);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.card__price-and-button {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.card__price {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: var(--dark-grey-color);
}

.card__button {
	color: var(--main-green-color);
	font-size: 11px;
	line-height: 15px;
	font-weight: 500;
	background-color: var(--main-grey-color);
	border: 1.5px solid var(--main-grey-color);
	border-radius: 8px;
	height: 29px;
	margin-top: 5px;
	width: 71px;
	cursor: pointer;
}

.transitionImages {
	animation-name: fade;
	animation-duration: 0.5s;
}

@keyframes fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.cart {
	height: 237px;
	min-width: 285px;
	max-width: 285px;
	align-self: center;
	padding-top: 8px;
	margin-bottom: 30px;
}

.cart__title {
	height: 42px;
	padding-top: 0;
	display: flex;
	align-items: center;
	background-color: var(--main-green-color);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	font-size: 16px;
	line-height: 26.67px;
	font-weight: 500;
	color: var(--main-white-color);
}
.fa-cart-arrow-down {
	margin-right: 20.84px;
	margin-left: 18.47px;
	font-size: 12px;
	font-weight: 900;
}
.cart__product-list {
	height: 121px;
	background-color: var(--third-grey-color);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.cart__product-list--center {
	display: flex;
	height: 201px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cart__product-list--scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: var(--third-grey-color);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	align-items: center;
	justify-content: center;
}
.cart__product-list--scroll::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.cart__product-list--scroll::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-color);
	border-radius: 8px;
}

.cart__img-empty-cart {
	font-size: 36px;
	height: 40px;
	width: 36px;
}
.cart__text-empty {
	padding-top: 35px;
	font-size: 14px;
	line-height: 24px;
	color: var(--second-grey-color);
	text-align: center;
}

.cart__product {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-left: 5px;
	gap: 12px;
	width: 290px;
	height: 83px;
}
.cart__product-img {
	width: 70px;
	height: 70px;
	border-radius: 8px;
}
.cart__product-text-and-button {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.cart__product-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cart__product-name {
	margin-top: 4px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	color: var(--black-color);
}
.cart__product-section {
	color: var(--second-grey-color);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
.cart__product-price {
	color: var(--dark-grey-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.cart__product-amount {
	line-height: 24px;
	display: flex;
	align-items: center;
}

.button__amount {
	height: 16px;
	width: 16px;
	border-radius: 8px;
	border: 2.5px solid var(--dark-grey-color);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.cart__product-amount-number {
	color: var(--dark-grey-color);
	font-weight: 500;
	font-size: 13px;
	margin-left: 6px;
	margin-right: 6px;
}

.button__plus {
	border: 2.5px solid var(--dark-grey-color);
	color: var(--dark-grey-color);
	cursor: pointer;
}

.button__minus {
	border: 2.5px solid var(--second-grey-color);
	color: var(--second-grey-color);
}
.button__minus--active {
	border: 2.5px solid var(--dark-grey-color);
	color: var(--dark-grey-color);
	cursor: pointer;
}
.button__remove {
	margin-right: 22px;
	margin-top: 8px;
	background-color: var(--light-grey-color);
	border-radius: 8px;
	width: 23.62px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-color: transparent;
}

.fa-trash {
	color: var(--second-grey-color);
	font-size: 12px;
}

.cart__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 12px;
	font-size: 12px;
	font-weight: 500;
	height: 40px;
	width: 290px;
	background-color: var(--dark-grey-color);
	color: var(--light-grey-color);
}
.cart__total--justify-end {
	margin-right: 23px;
}

.cart__price {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

@media (min-width: 1220px) {
	.menu {
		justify-content: space-between;
		padding: 39px 146px 61px;
		flex-direction: row;
	}
	.menu__section {
		overflow-x: auto;
	}
	.menu__search {
		width: auto;
		margin-top: 0px;
	}
	.search__input {
		width: 324px;
	}

	.container {
		margin: 0 144px;
		flex-direction: row;
	}
	.product-list {
		list-style: none;
		display: flex;
		max-height: none;
		overflow: hidden;
		row-gap: 25px;
		flex-wrap: wrap;
	}
	.cart {
		height: 437px;
		align-self: flex-start;
		margin-left: 10px;
	}
	.cart__title {
		height: 50.75px;
		padding-top: 15.5px;
	}
	.cart__product-list {
		height: 268.25px;
		background-color: var(--third-grey-color);
	}
	.cart__total {
		height: 59px;
		width: 100%;
	}
	.cart__product-list--scroll {
		height: 268.25px;
	}
}
